<div class="container">  
  <div class="form-group my-3">
    <button class="btn btn-primary" (click)="goback()">Back</button>
  </div>
  <div class="alert alert-success" *ngIf="success" role="alert">
    Success
  </div>
  <div class="alert alert-danger" *ngIf="failed" role="alert">
    not success 
  </div>
  <div class="container d-flex w-50 justify-content-center border border-black bg-secondary rounded">
  <form [formGroup]="userForm" (ngSubmit)="onSubmit()" class="mt-4">
    <div class="d-flex justify-content-center text-light">
      <h2>Add User</h2>
    </div>
    <div class="form-group">
      <mat-form-field>
        <mat-label>Name</mat-label>
        <input matInput formControlName="name">
      </mat-form-field>
    </div>

      <div class="form-group">
        <mat-form-field>
          <mat-label>Email</mat-label>
          <input matInput formControlName="email">
          <mat-error *ngIf="userForm.controls['email'].invalid && userForm.controls['email'].touched">
            Email is required
          </mat-error>
        </mat-form-field>
      </div>

    <div class="form-group">
      <mat-form-field>
        <mat-label>Gender</mat-label>
        <mat-select formControlName="gender">
          <mat-option value="male">Male</mat-option>
          <mat-option value="female">Female</mat-option>
        </mat-select>
        </mat-form-field>
    </div>

    <div class="form-group">
      <mat-form-field>
        <mat-label>Status</mat-label>
        <mat-select formControlName="status">
          <mat-option value="active">Active</mat-option>
          <mat-option value="inactive">Inactive</mat-option>
        </mat-select>
        </mat-form-field>
    </div>

    <div class="form-group my-3">
      <button type="submit" mat-raised-button color="primary">Submit</button>
      <!-- <button type="submit" class="btn btn-primary">Submit</button> -->
    </div>
  </form>
</div>
</div>
